@tailwind base;
@tailwind components;
@tailwind utilities;

.mypadding {
  padding: 5px 8px;
}

.profile-navigation .active {
  @apply bg-base text-white;
}

body {
  background: #f2f4f5;
}

.bg-blur{
  backdrop-filter: blur(8px);
}